/* --------------------------- Normalización --------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid blue; Solo para verificaciones dev comentar al desplegar */
}

/* --------------------------- Variables --------------------------- */

:root {
    /* Colores */
    --color-negro: #282828;
    --color-blanco: #F3F3F3;
    --color-acento: #E64946;
    --color-negro-gradient: linear-gradient(to top, #282828D9, #2828281A);

    /* Bordes */
    --border-base: 2px solid var(--color-negro);
    --border-rojo: 2px solid var(--color-acento);

    /* Textos */
    --fuente-logIn: 700 13px "Roboto Condensed", sans-serif;
    --fuente-nav: 700 20px "Roboto Condensed", sans-serif;
    --fuente-tituloDestacada: 800 28px "Open Sans", sans-serif;
    --fuente-tituloSecundarias: 800 18px "Open Sans", sans-serif;
    --fuente-tituloSeccion: 800 36px "Roboto Condensed", sans-serif;
    --fuente-user: 700 20px "Open Sans", sans-serif;
    --fuente-comentario: 400 18px "Open Sans", sans-serif;
    --fuente-comentarioDestacado: 700 18px "Open Sans", sans-serif;
    --fuente-datosDestacados: 600 14px "Open Sans", sans-serif;
    --fuente-datos: 400 14px "Open Sans", sans-serif;
    --fuente-datosNumericos: 800 14px "Open Sans", sans-serif;
    --fuente-footer: 800 20px "Open Sans", sans-serif;

    /* Espaciados */
    --margen-seccion: 108px;
}

body {
    background-color: var(--color-blanco);
}

/* --------------------------- Header --------------------------- */

.header {
    width: 100%;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5rem;
    background-color: var(--color-negro);
}

.logo {
    width: 17.75rem;
    height: 4.6875rem;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.redes_container {
    display: flex;
    justify-content: space-around;
    gap: .75rem;
}

.icon {
    width: 1.875rem;
    height: 1.875rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.ig {
    background-image: url(./img/ig.png);
}

.ig:hover {
    background-image: url(./img/ig-hover.png);
}

.fb {
    background-image: url(./img/fb.png);
}

.fb:hover {
    background-image: url(./img/fb-hover.png);
}

.x {
    background-image: url(./img/x.png);
}

.x:hover {
    background-image: url(./img/x-hover.png);
}

.yt {
    background-image: url(./img/yt.png);
}

.yt:hover {
    background-image: url(./img/yt-hover.png);
}

.perfil_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-blanco);
    font: var(--fuente-logIn);
}

.perfil {
    width: 3.125rem;
    height: 3.125rem;
}

/* --------------------------- Nav --------------------------- */

.nav {
    width: 100%;
    height: 3.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5rem;
    margin-bottom: 54px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-blanco);
    border-bottom: var(--border-rojo);
}

.tabs {
    display: flex;
    list-style: none;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.375rem;
    height: 3.375rem;
    border-right: var(--border-base);
    text-align: center;
}

.tab a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font: var(--fuente-nav);
}

.tab_active {
    color: var(--color-acento);
}

.tab_unactive {
    color: var(--color-negro);
}

.tab a:hover {
    color: var(--color-acento);
}

.buscador {
    width: 147px;
    height: 54px;
    position: relative;
}

.buscador_input {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: var(--color-blanco);
    color: var(--color-negro);
    font: var(--fuente-nav);
    border-left: var(--border-base);
    border-right: var(--border-base);
    border-top: none;
    border-bottom: none;
}

.buscador_input::placeholder{
    color: var(--color-negro);

}

.buscador_icono {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 35px;
    height: 35px;
    pointer-events: none;
}

.main {
    margin: 0 120px;
}

/* --------------------------- Novedades --------------------------- */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: var(--margen-seccion);
}

.novedades_destacadas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6875rem;
}

.novedad_destacada {
    width: 31.9375rem;
    height: 23.8125rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    color: #F3F3F3;
}

.destacada1 {
        background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2022/04/mindhunter.jpg?resize=446%2C248&ssl=1");
} 

.destacada2 {
        background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/06/Jeremy-Allen-White-Bruce-Springsteen-Banner-1.jpg?resize=446%2C248&ssl=1");

}

.novedad_destacada::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.novedad_destacada:hover .texto_datos {
    display: flex;
}

.destacada_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 20px;
    gap: 8px;
    position: absolute;
    bottom: .5rem;
    z-index: 2;
}

.destacada_texto h2 {
    font: var(--fuente-tituloDestacada);
}

.texto_datos {
    display: none;
    align-items: center;
    justify-content: space-between;
}

.texto_datosVisibles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.valores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.texto_datos p {
    font: var(--fuente-datos);
}

.texto_datosVisibles p {
    font: var(--fuente-datos);
}

.texto_datos span {
    font: var(--fuente-datosDestacados);
}

.texto_datosVisibles span {
    font: var(--fuente-datosDestacados);
}

.texto_datos .texto_datosVisibles h3 {
    font: var(--fuente-datosNumericos);
}

.texto_datosVisibles h3 {
    font: var(--fuente-datosNumericos);
}

.texto_datos img {
    width: 20px;
    height: 20px;
}

.texto_datosVisibles img {
    width: 20px;
    height: 20px;
}

.novedades_secundarias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}

.novedad_secundaria {
    width: 15.125rem;
    height: 11.9375rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    color: #F3F3F3;
}

.novedad_secundaria1 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2024/07/MCU-Banner-1.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria2 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2023/07/Netflix.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria3 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/04/The-Sandman-Banner-2.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria4 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/06/La-Pistola-Desnuda-Banner-1.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria5 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2024/08/David-Corenswet-Superman-Traje-Banner-1.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria6 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2023/03/BHQMVU4L5JA3FEYOIVOYMAE6ZA.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria7 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/03/Se-lo-Que-Hicieron-el-Verano-Pasado-Banner-1.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria8 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2023/10/Kierkan-Shipka-in-Totally-Killer-16.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.novedad_secundaria:hover .texto_datos {
    display: flex;
}

.secundaria_texto {
    display: flex;
    flex-direction: column;
    padding: 2.5px 10px;
    gap: 8px;
    position: absolute;
    bottom: .5rem;
    z-index: 2;
}

.secundaria_texto h2 {
    font: var(--fuente-tituloSecundarias);
}

.valores_secundarias {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.valor_comentarios {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secundaria_textoDatos {
    height: 20px;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.secundaria_textoDatos p {
    font: var(--fuente-datos);
}

.secundaria_textoDatos span {
    font: var(--fuente-datosDestacados);
}

.secundaria_textoDatos h3 {
    font: var(--fuente-datosNumericos);
}

.secundaria_textoDatos img {
    width: 20px;
    height: 20px;
}

/* --------------------------- Comentadas --------------------------- */

.comentadas {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margen-seccion);
    gap: 30px;
}

.section_titulo {
    width: 818px;
    height: auto;
    margin-bottom: 50px;
    background-color: var(--color-acento);
    color: var(--color-blanco);
}

.section_titulo h2 {
    padding: .75rem 2rem;
    font: var(--fuente-tituloSeccion);
}

.comentada {
    display: flex;
    justify-content: center;
    color: #F3F3F3;
}

.mas_comentada {
    min-width: 641px;
    height: 20.4375rem;
    background-image: url("https://culturageek.com.ar/wp-content/uploads/2025/04/Strangers-Things-serie-animada-culturageek.com_.ar_.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.mas_comentada::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.comentada_texto {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    gap: 8px;
    position: absolute;
    bottom: .5rem;
    z-index: 2;
}

.comentada_texto h2 {
    font: var(--fuente-tituloDestacada);
}

.comentario {
    width: 409px;
    max-height: 327px;
    background-color: var(--color-negro);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 12px;
}

.comentario_perfil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.comentario_perfil img {
    width: 45px;
    height: 45px;
}

.comentario_perfil h2 {
    font: var(--fuente-user);
}

.comentario p {
    font: var(--fuente-comentario);
}

.comentadas_secundarias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.comentada_secundaria {
    min-width: 333px;
    height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.comentada_secundaria1 {
        background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/01/Harry-Potter-1-Banner-1.jpg?resize=1200%2C720&ssl=1");
}

.comentada_secundaria2 {
        background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2024/09/Alien-Earth-Banner-1.jpg?resize=1200%2C720&ssl=1");
}

.comentada_secundaria3 {
        background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/02/Daredevil-Born-Again-Banner-1.jpg?resize=1200%2C720&ssl=1");
}

.comentada_secundaria::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.comentada_textoSecundaria {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 1rem;
    position: absolute;
    bottom: .5rem;
    z-index: 2;

    color: var(--color-blanco);
}

.comentada_textoSecundaria h2 {
    font: var(--fuente-tituloSecundarias);
}

.datos_comentadaSecundaria {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mostrar_comentarios {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mostrar_comentarios img {
    width: 30px;
    height: 30px;
}

.mostrar_comentarios p {
    font: var(--fuente-datosNumericos);
}

/* --------------------------- valoradas --------------------------- */

.valoradas {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margen-seccion);
    gap: 30px;
}

.valorada {
    display: flex;
    justify-content: center;
    color: #F3F3F3;
    gap: 30px;
}

.mas_valorada {
    width: 614px;
    height: 327px;
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/04/The-Sandman-Banner-2.jpg?resize=446%2C248&ssl=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.mas_valorada::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.valorada_texto {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 1rem;
    position: absolute;
    bottom: .5rem;
    z-index: 2;
}

.valorada_texto h2 {
    font: var(--fuente-tituloDestacada);
}

.valoradas_secundarias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.valorada_secundaria {
    min-width: 409px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.valorada_secundaria1 {
        background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2024/07/Nostalgia-Deadpool-Wolverine.jpg?resize=1200%2C720&ssl=1");
}

.valorada_secundaria2 {
        background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/05/Los-Juegos-del-Hambre-Amanecer-en-la-Cosecha-Logo-Banner-1.jpg?resize=1200%2C720&ssl=1");
}

.valorada_secundaria::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.valorada_textoSecundaria {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 1rem;
    position: absolute;
    bottom: .5rem;
    z-index: 2;

    color: var(--color-blanco);
}

.valorada_textoSecundaria h2 {
    font: var(--fuente-tituloSecundarias);
}

.datos_valoradaSecundaria {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.datos_valoradaSecundaria p {
    font: var(--fuente-datos);
}

.datos_valoradaSecundaria span {
    font: var(--fuente-datosDestacados);
}

.valorada_terciaria1 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2023/06/Five-Nights-at-Freddys.jpg?resize=800%2C450&ssl=1");
}

.valorada_terciaria2 {
    background-image: url("https://culturageek.com.ar/wp-content/uploads/2025/04/Strangers-Things-serie-animada-culturageek.com_.ar_.webp");
}

.valorada_terciaria3 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/03/Se-lo-Que-Hicieron-el-Verano-Pasado-Banner-1.jpg?resize=446%2C248&ssl=1");
}

/* --------------------------- Entrevistas --------------------------- */

.entrevistas {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margen-seccion);
    gap: 30px;
}

.entrevista {
    display: flex;
    justify-content: center;
    color: #F3F3F3;
}

.entrevista_destacada {
    min-width: 641px;
    height: 20.4375rem;
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/06/El-Telefono-Negro-1-Banner-1.jpg?resize=800%2C600&ssl=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.entrevista_destacada::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.entrevista_texto {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 1rem;
    position: absolute;
    bottom: .5rem;
    z-index: 2;
}

.entrevista_texto h2 {
    font: var(--fuente-tituloDestacada);
}

.bajada {
    width: 409px;
    max-height: 327px;
    background-color: var(--color-negro);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 12px;
}

.bajada h2 {
    font: var(--fuente-tituloDestacada);
}

.bajada p {
    font: var(--fuente-comentario);
}

.bajada span {
    font: var(--fuente-comentarioDestacado);
}

.entrevista_perfil {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.entrevistador {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
}

.entrevista_perfil img {
    width: 45px;
    height: 45px;
}

.datos_bajada {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
}

.datos_bajada p {
    font: var(--fuente-datos);
}

.datos_bajada span {
    font: var(--fuente-datosDestacados);
}

.datos_bajada img {
    width: 20px;
    height:20px;
}

.entrevistas_secundarias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.entrevista_secundaria {
    min-width: 333px;
    height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.entrevista_secundaria1 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/05/Captura-de-Pantalla-2025-05-15-a-las-10.28.52.png?resize=1200%2C604&ssl=1");
}

.entrevista_secundaria2 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/05/Captura-de-Pantalla-2025-05-16-a-las-10.20.06.png?resize=1200%2C646&ssl=1");
}

.entrevista_secundaria3 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/05/Corazon_Delator_n_01_23_34_00-R-1-scaled.jpg?resize=1200%2C800&ssl=1");
}

.entrevista_secundaria::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.entrevista_textoSecundaria {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 1rem;
    position: absolute;
    bottom: .5rem;
    z-index: 2;

    color: var(--color-blanco);
}

.entrevista_textoSecundaria h2 {
    font: var(--fuente-tituloSecundarias);
}

.datos_entrevistaSecundaria {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.datos_entrevistaSecundaria p {
    font: var(--fuente-datos);
}

.datos_entrevistaSecundaria span {
    font: var(--fuente-datosDestacados);
}

/* --------------------------- Footer --------------------------- */

.footer {
    background-color: var(--color-negro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 176px;
    margin-top: 83px;
    padding: 0 40px;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--color-blanco);
}

.footer p {
    font: var(--fuente-footer);
}

/* --------------------------- Resultados de busqueda --------------------------- */

.contenedor_filtrados {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
}
