/* --------------------------- Normalización --------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid blue; Solo para verificaciones dev comentar al desplegar */
}

/* --------------------------- Variables --------------------------- */

:root {
    /* Colores */
    --color-negro: #282828;
    --color-blanco: #F3F3F3;
    --color-acento: #E64946;
    --color-negro-gradient: linear-gradient(to top, #282828D9, #2828281A);

    /* Bordes */
    --border-base: 2px solid var(--color-negro);
    --border-rojo: 2px solid var(--color-acento);

    /* Textos */
    --fuente-tituloSeccion: 800 2.25rem "Roboto Condensed", sans-serif;
    --fuente-nav: 700 1.25rem "Roboto Condensed", sans-serif;
    --fuente-tituloCard: 800 1.75rem "Open Sans", sans-serif;
    --fuente-textoCard: 400 .875rem "Open Sans", sans-serif;
    --fuente-textoDestacadoCard: 700 .875rem "Open Sans", sans-serif;
    --fuente-tituloCardSecundaria: 800 1.125rem "Open Sans", sans-serif;
    --fuente-nombreEntrevista: 700 1.25rem "Open Sans", sans-serif;
    --fuente-textosComentario: 400 1.125rem "Open Sans", sans-serif;

    /* Espaciados */
    --margen-seccion: 3.75rem;
}

body {
    background-color: var(--color-blanco);
}

/* --------------------------- Header --------------------------- */

.header {
    width: 100%;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5rem;
    background-color: var(--color-negro);
}

.logo {
    width: 17.75rem;
    height: 4.6875rem;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.redes_container {
    display: flex;
    justify-content: space-around;
    gap: .75rem;
}

.redes {
    width: 1.875rem;
    height: 1.875rem;
}

.perfil_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-blanco);
    font: 700 .8125rem "Roboto Condensed", sans-serif;
}

.perfil {
    width: 3.125rem;
    height: 3.125rem;
}

/* --------------------------- Nav --------------------------- */

.nav {
    width: 100%;
    height: 3.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5rem;
    margin-bottom: 2.375rem;
    background-color: var(--color-blanco);
    border-bottom: var(--border-rojo);
}

.tabs {
    display: flex;
    list-style: none;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.375rem;
    height: 3.375rem;
    border-right: var(--border-base);
    text-align: center;
}

.tab a {
    text-decoration: none;
    font: var(--fuente-nav);
}

.tab_active {
    color: var(--color-acento);
}

.tab_unactive {
    color: var(--color-negro);
}

.tab a:hover {
    color: var(--color-acento);
}

.buscador {
    width: 12.5rem;
    height: 3.375rem;
    position: relative;
}

.buscador input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--color-blanco);
    color: var(--color-negro);
    font: var(--fuente-nav);
    border-left: var(--border-base);
    border-right: var(--border-base);
    border-top: none;
    border-bottom: none;
}

.buscador_icono {
    position: absolute;
    right: 1rem;
    top: .5rem;
    width: 1,875rem;
    height: 1.875rem;
    pointer-events: none;
}

.main {
    margin: 0 120px;
}

/* --------------------------- Novedades --------------------------- */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: var(--margen-seccion);
}

.novedades_destacadas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6875rem;
}

.novedad_destacada {
    width: 31.9375rem;
    height: 23.8125rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    color: #F3F3F3;
}

.destacada1 {
        background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2022/04/mindhunter.jpg?resize=446%2C248&ssl=1");
} 

.destacada2 {
        background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/06/Jeremy-Allen-White-Bruce-Springsteen-Banner-1.jpg?resize=446%2C248&ssl=1");

}

.novedad_destacada::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.novedad_destacada:hover .texto_datos {
    display: flex;
}

.destacada_texto {
    display: flex;
    flex-direction: column;
    padding: 0 1.25rem;
    position: absolute;
    bottom: .5rem;
    z-index: 2;
}

.destacada_texto h2 {
    font: var(--fuente-tituloCard);
}

.texto_datos {
    height: 50px;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.valores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
}

.texto_datos p {
    font: var(--fuente-textoCard);
}

.texto_datos span {
    font: var(--fuente-textoDestacadoCard);
}

.texto_datos h3 {
    font: var(--fuente-textoDestacadoCard);
}

.texto_datos img {
    width: 20px;
    height: 20px;
}

.novedades_secundarias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}

.novedad_secundaria {
    width: 15.125rem;
    height: 11.9375rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    color: #F3F3F3;
}

.novedad_secundaria1 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2024/07/MCU-Banner-1.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria2 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2023/07/Netflix.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria3 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/04/The-Sandman-Banner-2.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria4 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/06/La-Pistola-Desnuda-Banner-1.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria5 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2024/08/David-Corenswet-Superman-Traje-Banner-1.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria6 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2023/03/BHQMVU4L5JA3FEYOIVOYMAE6ZA.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria7 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2023/10/Kierkan-Shipka-in-Totally-Killer-16.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria8 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/03/Se-lo-Que-Hicieron-el-Verano-Pasado-Banner-1.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.novedad_secundaria:hover .secundaria_textoDatos {
    display: flex;
}

.secundaria_texto {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 1rem;
    position: absolute;
    bottom: .5rem;
    z-index: 2;
}

.secundaria_texto h2 {
    font: var(--fuente-tituloCardSecundaria);
}

.valores_secundarias {
    display: flex;
    flex-direction: column;
}

.valor_comentarios {
    display: flex;
    gap: .25rem;
    align-items: center;
    justify-content: center;
}

.secundaria_textoDatos {
    height: 20px;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.secundaria_textoDatos p {
    font: var(--fuente-textoCard);
}

.secundaria_textoDatos span {
    font: var(--fuente-textoDestacadoCard);
}

.secundaria_textoDatos h3 {
    font: var(--fuente-textoDestacadoCard);
}

.secundaria_textoDatos img {
    width: 20px;
    height: 20px;
}

/* --------------------------- Comentadas --------------------------- */

.comentadas {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margen-seccion);
    gap: 30px;
}

.section_titulo {
    width: 818px;
    height: auto;
    margin-bottom: 50px;
    background-color: var(--color-acento);
    color: var(--color-blanco);
}

.section_titulo h2 {
    padding: .75rem 2rem;
    font: var(--fuente-tituloSeccion);
}

.comentada {
    display: flex;
    justify-content: center;
    color: #F3F3F3;
}

.mas_comentada {
    min-width: 641px;
    height: 20.4375rem;
    background-image: url("https://culturageek.com.ar/wp-content/uploads/2025/04/Strangers-Things-serie-animada-culturageek.com_.ar_.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.mas_comentada::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.comentada_texto {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 1rem;
    position: absolute;
    bottom: .5rem;
    z-index: 2;
}

.comentada_texto h2 {
    font: var(--fuente-tituloCard);
}

.comentario {
    width: 409px;
    max-height: 327px;
    background-color: var(--color-negro);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 12px;
}

.comentario_perfil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.comentario_perfil img {
    width: 45px;
    height: 45px;
}

.comenario_perfil h2 {
    font: var(--fuente-nombreEntrevista);
}

.comentario p {
    font: var(--fuente-textosComentario);
}

.comentadas_secundarias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.comentada_secundaria {
    min-width: 333px;
    height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.comentada_secundaria1 {
        background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/01/Harry-Potter-1-Banner-1.jpg?resize=1200%2C720&ssl=1");
}

.comentada_secundaria2 {
        background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2024/09/Alien-Earth-Banner-1.jpg?resize=1200%2C720&ssl=1");
}

.comentada_secundaria3 {
        background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/02/Daredevil-Born-Again-Banner-1.jpg?resize=1200%2C720&ssl=1");
}

.comentada_secundaria::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.comentada_texto {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 1rem;
    position: absolute;
    bottom: .5rem;
    z-index: 2;

    color: var(--color-blanco);
}

.comentada_texto h2 {
    font: var(--fuente-tituloCard);
}

.datos_comentadaSecundaria {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mostrar_comentarios {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mostrar_comentarios img {
    width: 30px;
    height: 30px;
}

.mostrar_comentarios p {
    font: var(--fuente-textosComentario);
}

/* --------------------------- valoradas --------------------------- */

.valoradas {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margen-seccion);
    gap: 30px;
}

.valorada {
    display: flex;
    justify-content: center;
    color: #F3F3F3;
    gap: 30px;
}

.mas_valorada {
    width: 614px;
    height: 327px;
    background-image: url("img/destacada1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.mas_valorada::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.valorada_texto {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 1rem;
    position: absolute;
    bottom: .5rem;
    z-index: 2;
}

.valorada_texto h2 {
    font: var(--fuente-tituloCard);
}

.valoradas_secundarias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.valorada_secundaria {
    min-width: 409px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.valorada_secundaria1 {
        background-image: url("img/destacada2.png");
}

.valorada_secundaria2 {
        background-image: url("img/destacada2.png");
}

.valorada_secundaria::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.valorada_texto {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 1rem;
    position: absolute;
    bottom: .5rem;
    z-index: 2;

    color: var(--color-blanco);
}

.valorada_texto h2 {
    font: var(--fuente-tituloCard);
}

.datos_valoradaSecundaria {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------------------- Entrevistas --------------------------- */

.entrevistas {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margen-seccion);
    gap: 30px;
}

.entrevista {
    display: flex;
    justify-content: center;
    color: #F3F3F3;
}

.entrevista_destacada {
    min-width: 641px;
    height: 20.4375rem;
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/06/El-Telefono-Negro-1-Banner-1.jpg?resize=800%2C600&ssl=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.entrevista_destacada::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.entrevista_texto {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 1rem;
    position: absolute;
    bottom: .5rem;
    z-index: 2;
}

.entrevista_texto h2 {
    font: var(--fuente-tituloCard);
}

.bajada {
    width: 409px;
    max-height: 327px;
    background-color: var(--color-negro);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 12px;
}

.bajada h2 {
    font: var(--fuente-nombreEntrevista);
}

.bajada p {
    font: var(--fuente-textosComentario);
}

.entrevista_perfil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.entrevista_perfil img {
    width: 45px;
    height: 45px;
}

.entrevista_perfil h2 {
    font: var(--fuente-nombreEntrevista);
}

.entrevista_perfil p {
    font: var(--fuente-textosComentario);
}

.datos_bajada {
    display: flex;
    flex-direction: column;
}

.datos_bajada p {
    font: var(--fuente-textosComentario);
}

.entrevistas_secundarias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.entrevista_secundaria {
    min-width: 333px;
    height: 230px;
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/06/El-Telefono-Negro-1-Banner-1.jpg?resize=800%2C600&ssl=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.entrevista_secundaria::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.entrevista_texto {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 1rem;
    position: absolute;
    bottom: .5rem;
    z-index: 2;

    color: var(--color-blanco);
}

.entrevista_texto h2 {
    font: var(--fuente-tituloCard);
}

.datos_entrevistaSecundaria {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------------------- Footer --------------------------- */

.footer {
    background-color: var(--color-negro);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}