/*--------------------------- Normalización ---------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid blue; Solo para verificaciones dev comentar al desplegar */
}

/*--------------------------- Variables ---------------------------*/

:root {
    /* Colores */
    --color-negro: #282828;
    --color-blanco: #F3F3F3;
    --color-acento: #E64946;
    --color-negro-gradient: linear-gradient(to top, #282828D9, #2828281a);

    /* Bordes */
    --border-base: 2px solid var(--color-negro);
    --border-rojo: 2px solid var(--color-acento);

    /* Textos */
    --fuente-logIn: 700 .8125rem "Roboto Condensed", sans-serif;
    --fuente-nav: 700 1.25rem "Roboto Condensed", sans-serif;
    --fuente-tituloDestacada: 800 1.75rem "Open Sans", sans-serif;
    --fuente-tituloSecundarias: 800 1.125rem "Open Sans", sans-serif;
    --fuente-tituloSeccion: 800 2.25rem "Roboto Condensed", sans-serif;
    --fuente-user: 700 1.25rem "Open Sans", sans-serif;
    --fuente-comentario: 400 1.125rem "Open Sans", sans-serif;
    --fuente-comentarioDestacado: 700 1.125rem "Open Sans", sans-serif;
    --fuente-datosDestacados: 600 .875rem "Open Sans", sans-serif;
    --fuente-datos: 400 .875rem "Open Sans", sans-serif;
    --fuente-datosNumericos: 800 .875rem "Open Sans", sans-serif;
    --fuente-footer: 800 1.25rem "Open Sans", sans-serif;
    --fuente-form: 700 1.625rem "Roboto Condensed", sans-serif;
    --fuente-formSecundarios: 700 1.375rem "Roboto Condensed", sans-serif;

    /* Espaciados */
    --margen-seccion: 6.75rem;
}

/*--------------------------- Depurado ---------------------------*/

body {
    background-color: var(--color-blanco);
}

.logo {
    width: 17.75rem;
    height: 4.6875rem;
}

.header,
.footer,
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*--------------------------- Header ---------------------------*/
.header {
    height: 6.25rem;
    padding: 0 7.5rem;
    background-color: var(--color-negro);
}

/*--------------------------- RRSS ---------------------------*/
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.redes_contenedor {
    display: flex;
    gap: .75rem;
}

.icon {
    width: 1.875rem;
    height: 1.875rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.ig {
    background-image: url(./img/ig.png);
}

.ig:hover {
    background-image: url(./img/ig-hover.png);
}

.fb {
    background-image: url(./img/fb.png);
}

.fb:hover {
    background-image: url(./img/fb-hover.png);
}

.x {
    background-image: url(./img/x.png);
}

.x:hover {
    background-image: url(./img/x-hover.png);
}

.yt {
    background-image: url(./img/yt.png);
}

.yt:hover {
    background-image: url(./img/yt-hover.png);
}

.perfil_contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font: var(--fuente-logIn);
}

.perfil_a {
    width: 3.125rem;
    height: 3.125rem;
    position: relative;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/perfil.png);
}

.perfil_a span {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    color: var(--color-blanco);
}

.perfil_a:hover {
    background-image: url(./img/perfil-active.png);
    color: var(--color-acento);
}

.perfil_active {
    background-image: url(./img/perfil-active.png);
}

/* --------------------------- Nav --------------------------- */
.nav {
    height: 3.375rem;
    padding: 0 7.5rem;
    margin-bottom: 3.375rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-blanco);
    border-bottom: var(--border-rojo);
}

.tabs {
    display: flex;
    list-style: none;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.375rem;
    height: 3.375rem;
    border-right: var(--border-base);
    text-align: center;
}

.tab_a,
.subtab a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font: var(--fuente-nav);
    color: var(--color-negro);
}

.tab_active {
    color: var(--color-acento);
}

.tab a:hover {
    color: var(--color-acento);
}

.subtabs {
    width: 152px;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--color-negro);
    padding: 10px;
    gap: 10px;
    top: 100%;
    list-style: none;
}

.subtab a {
    color: var(--color-blanco);
    justify-content: flex-start;
}

.subtab a:hover {
    color: var(--color-acento);
}

.tab:hover .subtabs {
    display: flex;
}

.buscador {
    width: 9.1875rem;
    height: 3.25rem;
    position: relative;
}

.buscador_input {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    padding: .625rem;
    background-color: var(--color-blanco);
    font: var(--fuente-nav);
    border-left: var(--border-base);
    border-right: var(--border-base);
    border-top: none;
    border-bottom: none;
}

.buscador_input::placeholder {
    color: var(--color-negro);
}

.buscador_input:focus {
    width: 18.375rem;
    outline: none;
}

.buscador_input:focus::placeholder {
    color: transparent;
}

.buscador_icono {
    position: absolute;
    right: .625rem;
    top: 10px;
    width: 2.1875rem;
    height: 2.1875rem;
    pointer-events: none;
}

.main {
    margin: 0 7.5rem;
}

.seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.875rem;
    margin-bottom: var(--margen-seccion);
}

.seccion_titulo,
.subseccion {
    padding: .75rem 2rem;
    margin-bottom: 3.125rem;
    background-color: var(--color-acento);
}

.seccion_titulo h2 {
    font: var(--fuente-tituloSeccion);
}

.texto_blanco {
    color: var(--color-blanco);
}

.destacadas {
    display: flex;
    justify-content: center;
}

.novedades_destacadas {
    gap: 1.6875rem;
}

.valorada_destacada {
    gap: 30px;
}

.card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.card::before {
    content: " ";
    position: absolute;
    background: var(--color-negro-gradient);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.card:hover .oculto {
    display: flex;
}

.novedad_destacada {
    width: 31.9375rem;
    height: 23.8125rem;
}

.mas_comentada {
    height: 20.4375rem;
    min-width: 641px;
    background-image: url("https://culturageek.com.ar/wp-content/uploads/2025/04/Strangers-Things-serie-animada-culturageek.com_.ar_.webp");
}

.mas_valorada {
    height: 20.4375rem;
    width: 614px;
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/04/The-Sandman-Banner-2.jpg?resize=446%2C248&ssl=1");
}

.entrevista_destacada {
    height: 20.4375rem;
    min-width: 641px;
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/06/El-Telefono-Negro-1-Banner-1.jpg?resize=800%2C600&ssl=1");
}

.comentario,
.bajada {
    width: 409px;
    max-height: 327px;
    background-color: var(--color-negro);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 12px;
}

.comentario_perfil h2 {
    font: var(--fuente-user);
}

.comentario_perfil,
.entrevistador {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
}

.comentario_perfil img,
.entrevista_perfil img {
    width: 45px;
    height: 45px;
}

.comentario p,
.bajada p {
    font: var(--fuente-comentario);
}

.entrevista_perfil {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bajada h2 {
    font: var(--fuente-tituloDestacada);
}

.bajada span {
    font: var(--fuente-comentarioDestacado);
}

.datos_bajada {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
}

.datos_bajada p {
    font: var(--fuente-datos);
}

.datos_bajada span {
    font: var(--fuente-datosDestacados);
}

.datos_bajada img {
    width: 20px;
    height: 20px;
}

.novedades_secundarias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}

.novedad_secundaria {
    width: 15.125rem;
    height: 11.9375rem;
}

.comentadas_secundarias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.comentada_secundaria {
    min-width: 333px;
    height: 230px;
}

.valoradas_secundarias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.valorada_secundaria {
    min-width: 409px;
    height: 150px;
}

.entrevistas_secundarias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.entrevista_secundaria {
    min-width: 333px;
    height: 230px;
}

.textos {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    bottom: .5rem;
}

.destacada_textos {
    padding: .3125rem 1.25rem;
}

.destacada_textos h2 {
    font: var(--fuente-tituloDestacada);
}

.secundaria_texto {
    padding: 2.5px 10px;
}

.secundaria_texto h2 {
    font: var(--fuente-tituloSecundarias);
}

.texto_datos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.oculto {
    display: none;
}

.texto_datos p {
    font: var(--fuente-datos);
}

.texto_datos span {
    font: var(--fuente-datosDestacados);
}

.texto_datos h3 {
    font: var(--fuente-datosNumericos);
}

.valores_secundarias {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.datos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}

.datos_valor-comentario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .175rem;
}

.datos img,
.icon_datos {
    width: 20px;
    height: 20px;
}

.ver_mas {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

.ver_mas button {
    display: flex;
    font: var(--fuente-nav);
    padding: 10px 20px;
    border: none;
}

.ver_mas button:hover {
    color: var(--color-acento);
}

/* --------------------------- Carga de imagenes a cards --------------------------- */
/* ------------------------- (las destacadas siguen arriba) ------------------------- */

.destacada1 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2022/04/mindhunter.jpg?resize=446%2C248&ssl=1");
}

.destacada2 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/06/Jeremy-Allen-White-Bruce-Springsteen-Banner-1.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria1 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2024/07/MCU-Banner-1.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria2 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2023/07/Netflix.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria3 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/04/The-Sandman-Banner-2.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria4 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/06/La-Pistola-Desnuda-Banner-1.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria5 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/05/David-Corenswet-Superman-Banner-1.jpg?resize=1200%2C720&ssl=1");
}

.novedad_secundaria6 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2023/03/BHQMVU4L5JA3FEYOIVOYMAE6ZA.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria7 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/03/Se-lo-Que-Hicieron-el-Verano-Pasado-Banner-1.jpg?resize=446%2C248&ssl=1");
}

.novedad_secundaria8 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2023/10/Kierkan-Shipka-in-Totally-Killer-16.jpg?resize=446%2C248&ssl=1");
}

.comentada_secundaria1 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/01/Harry-Potter-1-Banner-1.jpg?resize=1200%2C720&ssl=1");
}

.comentada_secundaria2 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2024/09/Alien-Earth-Banner-1.jpg?resize=1200%2C720&ssl=1");
}

.comentada_secundaria3 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/02/Daredevil-Born-Again-Banner-1.jpg?resize=1200%2C720&ssl=1");
}

.valorada_secundaria1 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2024/07/Nostalgia-Deadpool-Wolverine.jpg?resize=1200%2C720&ssl=1");
}

.valorada_secundaria2 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/05/Los-Juegos-del-Hambre-Amanecer-en-la-Cosecha-Logo-Banner-1.jpg?resize=1200%2C720&ssl=1");
}

.valorada_terciaria1 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2023/06/Five-Nights-at-Freddys.jpg?resize=800%2C450&ssl=1");
}

.valorada_terciaria2 {
    background-image: url("https://culturageek.com.ar/wp-content/uploads/2025/04/Strangers-Things-serie-animada-culturageek.com_.ar_.webp");
}

.valorada_terciaria3 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/03/Se-lo-Que-Hicieron-el-Verano-Pasado-Banner-1.jpg?resize=446%2C248&ssl=1");
}

.entrevista_secundaria1 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/05/Captura-de-Pantalla-2025-05-15-a-las-10.28.52.png?resize=1200%2C604&ssl=1");
}

.entrevista_secundaria2 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/05/Captura-de-Pantalla-2025-05-16-a-las-10.20.06.png?resize=1200%2C646&ssl=1");
}

.entrevista_secundaria3 {
    background-image: url("https://i0.wp.com/www.lacosacine.com/wp-content/uploads/2025/05/Corazon_Delator_n_01_23_34_00-R-1-scaled.jpg?resize=1200%2C800&ssl=1");
}

/* --------------------------- Footer --------------------------- */

.footer {
    height: 11rem;
    margin-top: 5.1875rem;
    padding: 0 2.5rem;
    background-color: var(--color-negro);
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--color-blanco);
}

.footer p {
    font: var(--fuente-footer);
}

/* --------------------------- Resultados de busqueda --------------------------- */

.contenedor_filtrados {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
}

/* --------------------------- Sección peliculas cards dinámicas --------------------------- */

.lista_peliculas {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.pelicula_card,
.link_nota {
    width: 950px;
    height: 247px;
    display: flex;
    gap: 46px;
    align-items: center;
    text-decoration: none;
    color: var(--color-negro);
}

.textos_card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.texto_titular {
    font: var(--fuente-tituloDestacada);
}

.texto_titular:hover {
    color: var(--color-acento);
}

.bajada_card {
    font: var(--fuente-comentario);
}

.datos_card {
    display: flex;
    height: 49px;
    align-items: center;
    gap: 1rem;
}

.datos_card p {
    font: var(--fuente-datos);
}

.datos_card h3 {
    font: var(--fuente-datosNumericos);
}

.datos_card span {
    font: var(--fuente-datosDestacados)
}

.imagen_card {
    width: 320px;
    height: 213px;
}

/* --------------------------- Iniciar sesión --------------------------- */

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form_datos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login_datos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.login_dato {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font: var(--fuente-form);
    gap: 10px;
}

.login_input {
    width: 996px;
    height: 50px;
    border: none;
    padding: .5rem;
    font: var(--fuente-comentarioDestacado);
}

.login_input:focus::placeholder {
    color: transparent;
}

.login_otros {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 80px;
}

.login_boton {
    width: 586px;
    height: 69px;
    background-color: var(--color-acento);
    font: var(--fuente-tituloSeccion);
    color: var(--color-blanco);
    border: none;
}

.login span {
    color: var(--color-acento);
    font: var(--fuente-formSecundarios);
}

.login p {
    color: var(--color-negro);
    font: var(--fuente-formSecundarios);
}

/* --------------------------- Mi perfil --------------------------- */
.perfil_info {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--margen-seccion);
}

.perfil_foto {
    width: 232px;
    height: 232px;
}

.perfil_datos {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.dato_usuario {
    width: 587px;
    height: 56px;
    display: flex;
    background: #fff;
    gap: 2rem;
    align-items: center;
    padding: 10px;
}

.dato_usuario h3 {
    color: var(--color-acento);
    font: var(--fuente-form);
}

.dato_usuario p {
    color: var(--color-negro);
    font: var(--fuente-form);
}

.mis_comentarios {
    margin-bottom: var(--margen-seccion);

}

.tabs_coments {
    display: flex;
    gap: 10px;
    margin-bottom: 3.375rem;
    padding-left: 75px;
}

.tab_coments {
    font: var(--fuente-nav);
    border: 2px solid var(--color-negro);
}

.coments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 3.375rem;

}

.coment {
    display: flex;
    width: 1050px;
    height: 211px;
    gap: 30px;
}

.coment_contenido {
    background-color: #fff;
    width: 947px;
    height: 211px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.no_accionables {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coment_datos {
    display: flex;
    gap: 10px;
}

.coment_foto {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.responder,
.compartir {
    background-color: none;
    border: none;
    color: var(--color-acento);
    font: var(--fuente-nav);
}

.nota_portada {
    max-width: 1200px;
    height: 720px;
}

.nota_datos {
    display: flex;
    margin-bottom: 3.375rem;
    border-bottom: var(--border-base);
}

.tags {
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.tag {
    height: 35px;
    width: auto;
    display: flex;
    font: var(--fuente-datosNumericos);
    color: var(--color-negro);
    background-color: #fff;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contenido_nota {
    display: flex;
    gap: 128px;
    border-bottom: var(--border-base)
}

.notas_interes {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.subseccion {
    font: 800 22px "Roboto Condensed", sans-serif;
    padding: 10px 20px;
}

.textos_nota h2 {
    font: 800 30px "Open Sans", sans-serif;
    margin-bottom: 44px;
}

.textos_nota p {
    margin-bottom: 20px;
    font: var(--fuente-comentario);
}

.video_nota {
    display: flex;
    justify-content: center;
    padding: 27px;
}

.compartir_contenedor {
    display: flex;
    justify-content: flex-end;
}

.calificacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 3.375rem;

}

.calificacion p {
    font: 400 28px "Open Sans", sans-serif;
    color: var(--color-negro);
}

.puntaje {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estrellas {
    display: flex;
    gap: 6px;
}

.estrella {
    width: 35px;
    height: 35px;
}

.input_contenedor {
    display: flex;
    width: 947px;
    padding: 30px;
    height: 211px;
    align-items: center;
}

.input_comentar {
    background-color: #fff;
    width: 947px;
    padding: 30px;
    height: 211px;
    position: absolute;
}

.comentar {
    height: 48px;
    width: auto;
    position: relative;
    top: 45%;
    left: 88%;
    padding: 10px 20px;
    background-color: var(--color-acento);
    color: var(--color-blanco);
    font: var(--fuente-form);
    display: flex;
    justify-content: center;
    align-items: center;
}